div {
    border: 1px solid grey;
    background-color: rgb(255, 174, 0);
    display: inline-block;
}

.row {
    display: flex;
    flex-direction: row;
}

.landscape {
    height: 100px;
    width: 100px;
}

.board {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}